.page-width.feature-hover-width {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.feature-hover {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

.feature-hover::-webkit-scrollbar {
  height: 4px;
  border-radius: 50px;
  margin: 0 15px;
}
 
 
.feature-hover::-webkit-scrollbar-thumb {
  height: 4px;
  border-radius: 50px;
  margin: 0 15px;
}

.color-default .feature-hover::-webkit-scrollbar-track {
  background: rgb(var(--color-brand-2));
}

.color-inverse .feature-hover::-webkit-scrollbar-track {
  background: rgb(var(--color-brand-6));
}

.feature-hover::-webkit-scrollbar-thumb {
  background: rgb(var(--color-brand-5));
}

.feature-hover__item {
  width: 100%;
  min-width: 200px;
  flex-grow: 1;
  margin-bottom: 50px;
  padding: 0 20px;
}

@media screen and (min-width: 1365px) {
  .feature-hover__item {
    max-width: 250px;
    margin-bottom: 30px;
    padding: 0;
  }
}

.feature-hover-wrapper-title {
  margin-top: 0;
  margin-bottom: 3rem;
}

.hover-image-wrapper {
  width: 100%;
  height: 300px;
  margin-top: 300px;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.featured-bottle {
  height: auto;
  margin: 15px 0 0 0;
  display: block;
  position: relative;
}

.expanding-div {
  display: none;
}

.card-simple-info {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

@media screen and (min-width: 1020px) {
  .hover-image-wrapper {
    margin-top: 0;
    height: 400px;
  }
  
  .featured-bottle {
    bottom: 0;
    transition: bottom .3s ease-in-out;
  }
  
  .expanding-div {
    background-color: rgb(var(--color-brand-4));
    width: 2px;
    height: 0px;
    margin-left: -40px;
    display: block !important;
    position: relative;
    bottom: -30px;
    transition-delay: .1s;
    transition: height .3s ease-in-out, bottom .3s ease-in-out;
  }
  
  .card-simple-info {
    filter: blur(5px);
    position: relative;
    bottom: -30px;
    opacity: 0;
    transition: bottom .3s ease-in-out, opacity .3s ease-in-out, blur .3s ease-in-out;
  }
  
  .feature-hover__item:hover .expanding-div {
    bottom: 0px;
    height: 60px;
  }

  .feature-hover__item:hover .featured-bottle {
    bottom: 70px;
  }

  .feature-hover__item:hover .card-simple-info{
    bottom: 0px;
    opacity: 1;
    filter: blur(0px);
  }
}


.card-simple-title {
  margin-bottom: 0;
}

.card-simple-title a {
  text-decoration: none;
}

.color-default .card-simple-title a {
  color: rgb(var(--color-brand-6));
}

.color-inverse .card-simple-title a {
  color: rgb(var(--color-brand-2));
}

.inline-ad-wrapper {
  flex-grow: 2;
}

.inline-ad-wrapper.only-ad {
  width: calc(100% - 30px);
  margin: 0 15px;
  position: absolute;
}

.inline-ad-wrapper.two-ads-left,
.inline-ad-wrapper.two-ads-right {
  width: calc(50% - 22px);
  position: absolute;
}

.inline-ad-wrapper.two-ads-left {
  margin: 0 7px 0 15px;
  top: 0;
  left: 0;
}

.inline-ad-wrapper.two-ads-right {
  margin: 0 15px 0 7px;
  top: 0;
  right: 0;
}

@media screen and (min-width: 1020px) {
  .inline-ad-wrapper.only-ad,
  .inline-ad-wrapper.two-ads-left,
  .inline-ad-wrapper.two-ads-right {
    width: calc(100% - 55px);
    min-width: 300px;
    position: relative;
    margin-left: 15px;
    margin-right: 40px;
  }
}

.inline-ad-wrapper a {
  text-decoration: none;
}

.inline-ad-image {
  width: 100%;
  height: 250px;
  border-radius: var(--media-radius);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 1020px) {
  .inline-ad-image {
    height: 400px;
    padding: 25px;
  }
}

.inline-ad-headline {
  border-radius: var(--text-boxes-radius);
  padding: 10px 20px;
  margin: 0;
}

.color-default .inline-ad-headline {
  background-color: rgb(var(--color-brand-2));
  color: rgb(var(--color-brand-6));
}

.color-inverse .inline-ad-headline {
  background-color: rgb(var(--color-brand-6));
  color: rgb(var(--color-brand-2));
}
